
#page {
  border-left: 1px dashed $light-gray; 
  border-bottom: 1px dashed $light-gray;
  border-right: 1px dashed $light-gray; 
  padding-bottom: rem-calc(10px);
  margin-bottom: rem-calc(10px);
}

.test {
  background: $test;
}

header {
  position: relative;

}

footer {
  a {
    color: $medium-gray;
    font-size: rem-calc(11px);

  }

  .footer-info ul {
    float: right;
  }
}

figure.title-image {
  margin: 0;
  
  & figcaption.title-image-cap {
    color: $medium-gray;
    font-size: rem-calc(12px);
    line-height: rem-calc(16px);
    margin-top: rem-calc(4px);

  }
}

.searchform {
  position: absolute;     
  bottom: 0;
  right: 0;

  @media #{$small-only} {
    position: static;
    margin-top: .8rem;
  }
}

.ads-skyscraper {
  /*img {*/
    /*max-width: 100%; */
  /*}*/
}

.date {
  p {
    float: right;
    color: $primary-color;
  }
}

a.twitter-logo {
  @include replace-text-with-dimensions('twitter.png', 23, 23);
}

a.rss-logo {
  @include replace-text-with-dimensions('rss.gif', 23, 23);
}

/*.site-title {*/
  /*@include replace-text('../images/red-flag-cut.png');*/
/*}*/

