#main {
  background: aliceblue;
}

.test {
  background: darkorange;
}

header {
  position: relative;

}

.searchform {
  position: absolute;     
  bottom: 0;
  right: 0;

  @media #{$small-only} {
    position: static;
    margin-top: .8rem;
  }
}

.ads-skyscraper {
  /*img {*/
    /*max-width: 100%; */
  /*}*/
}

.date {
  p {
    float: right;
    color: $primary-color;
  }
}
/*.site-title {*/
  /*@include replace-text('../images/red-flag-cut.png');*/
/*}*/

